<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>MSc in Financial and Management Accounting</h1>
            <span>University of Oulu</span>
            <span><address>Oulu, Finland</address><time>2015 to 2019</time></span>
        </header>
        <p>
            <em>Thesis: Impact of Global Financial Crisis on Audit Quality.</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Bachelor of Finance and Banking</h1>
            <span>FPT University</span>
            <span><address>Danang, Vietnam</address><time>2010 to 2014</time></span>
        </header>
        
    </article>
</section>
