<section class="thirteen columns">
    <h1>Internship</h1>
    <article>
        <header>
            <h1>Assistant Accountant - Thua Thien Hue Lottery Company</h1>
            <span><address>Hue, Vietnam</address><time>May 2016 - Aug 2016</time></span>
        </header>
        <p>
            <li>Monitoring and recording daily transactions.</li>
            <li>Adressing and reporting potential misstatement or misplaced entries.
            <li>Preparing analysis reports</li>
        </p>
    </article>
    <article>
        <header>
            <h1>Credit Trainee - Vietnam Bank for Agriculuture and Rural Development</h1>
            <span><address>Danang, Vietname</address><time>Jan 2013 - Apr 2014</time></span>
        </header>
        <p>
            <li> Analyzing client's financial situation.</li>
            <li> Reporting to the Head of Credit Department.</li>
            <li> Customer Relationship</li>
        </p>
    </article>
    
</section>
