<section class="thirteen columns">
    <h1>Personal projects</h1>
    <article>
        <header>
            <h1>IMDB rating classification</h1>
        </header>
        <p>
            Basic comparison between model when using for IMDB classification.
        </p>
    </article>
    <article>
        <header>
            <h1>IMDB rating prediction</h1>
        </header>
        <p>
            Further approach if IMDB classification project.
        </p>
    </article>
    <article>
        <header>
            <h1>Movie review classification</h1>
        </header>
        <p>
            Comparison of positive/negative movie review classification of several models.
        </p>
    </article>
    <article>
        <header>
            <h1>Finish Stock Market prediction</h1>
        </header>
        <p>
            An on-going project that tries to predict the price of stocks.
        </p>
    </article>
</section>
