<section class="thirteen columns">
    <h1>Recent projects</h1>
    <article>
        <header>
            <h1><a href="https://github.com/vuchau8592/Life-Expectancy">WHO Life Expectancy</a></h1>
        </header>
        <p>
            <strong>Tech Stack:</strong> Numpy, Pandas, Scikit-learn, Matplotlib.
            <br>
            An analysis & ML model implementation of life expectancy from WHO.
        </p>
    </article>
    <article>
        <header>
            <h1><a href="https://github.com/vuchau8592/Analyzing-with-dask">Analyzing with Dask</a></h1>
        </header>
        <p>
            <strong>Tech Stack:</strong> Numpy, Pandas, Dask, Matplotlib, Plotly.
            <br>
            An analysis of the U.S flight data to extract insight about flight delay reasons.
        </p>
    </article>
    <article>
        <header>
            <h1><a href="https://github.com/vuchau8592/movie-review-classification">Movie-review-classification</a></h1>
        </header>
        <p>
            <strong>Tech Stack:</strong> NLTK, Scikit-learn, Keras, Doc2Vec, Word2Vec.
			<br>
			Classification project of movie reviews with NLTK.
        </p>
    </article>
    <article>
        <header>
            <h1><a href="https://github.com/vuchau8592/Stock-prediction">Finnish Stock Market</a></h1>
        </header>
        <p>
            An on-going project that tries to predict the price of stocks using deep learning.
        </p>
    </article>
</section>
