<section class="thirteen columns">
    <h1>Skills</h1>
    <article>
        <header>
            <h1>Programming and Data Analyzing Skills</h1>
        </header>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
            &nbsp;&nbsp;<em>Microsoft Office</em>
        </p>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>
            &nbsp;&nbsp;<em>Python</em>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
            &nbsp;&nbsp;<em>Java</em> &amp; <em>Git</em>
        </p>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i>
            &nbsp;&nbsp;<em>Haskell</em> &amp; <em>SQL</em>
        </p>
        
    </article>
</section>
