<section class="thirteen columns">
    <h1>Skills</h1>
    <article style="line-height: 2">
<!--         <header>
            <h1>Programming and Data Analyzing Skills</h1>
        </header>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
            &nbsp;&nbsp;<em>Microsoft Office</em>
        </p>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>
            &nbsp;&nbsp;<em>Python</em>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>Java</em> &amp; <em>Git</em>
        </p>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>Haskell</em> &amp; <em>SQL</em>
        </p> -->
        <strong>Programming Language:</strong> Python, Java, Haskell
        <br>
        <strong>Data Analysis:</strong> Numpy, Scipy, Pandas, Dask
        <br>
        <strong>Data Visualization:</strong> Matplotlib, Seaborn, Plotly
        <br>
        <strong>Database Management:</strong> SQLite
        <br>
        <strong>Machine Learning:</strong> Scikit-learn, Tensorflow
        <br>
        <strong>Version Control:</strong> Git, Github.
        <br>
        <strong>Web Scrapping:</strong> API, BeautifulSoup
        
    </article>
</section>
